*{
    margin: 0;
    box-sizing: border-box;
}
#main{
    background-color: aqua;
    /* display: inline; */
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}
#cont{
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    letter-spacing: 0lvi;
    /* text-decoration: none; */
}
#name{
    width: 30%;
    display: flex;
    justify-content: center;
}
 a{
    text-decoration: none;
}